<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WP54B9K"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include header.html %}

  <div class="content">
      <!-- <div class="container"> -->
      <div class="markdown-body">
          {{ content }}

          {% include disqus.html %}
      </div>
  </div><!-- end .content -->

  {% include footer.html %}
  {% include scripts.html %}

  <script>
    window.NaviQConfig = {
    "id": "7c2348b55ed5883f91f8135683625334a99691c6d0267c5aaf341c8914da99fa",
    "name": "Naviq 问答助手",
    "welcome": "您好！我是 Naviq 问答助手，您可以向我提问网站内容。",
    "theme": "colorful",
    "accentColor": "#0F172A",
    "size": "large",
    "position": "bottom-right",
    "feedback": true
  };
  </script>
  <script src="https://mineru.net/naviq/widgets/widget.js?v=39" async></script>

</body>

</html>
